@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-title: "Times New Roman";
  --font-paragraph: "Montserrat", sans-serif;
  --color-navy: #2F4156;
  --color-teal: #567C8D;
  --color-skyblue: #C8D9E6;
  --color-beige: #F5EFEB;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prose * {
  color: inherit;
}

.prose ol ol {
  list-style-type: lower-alpha;
}